<table class = "posttable" style = "width:100%" valign="top">
    <tr> 
        <td colspan="3">
            <div class="">
                <a href="{{ url_for('routes.view_position', position_id = post.id) }}">
                     {{post.title}} 
                </a>
            </div>
        </td>
    </tr>
    <tr>

        <td width="80%" class="postmessage" >
            <div>
                <!-- INFO about a research position-->
                <p> Desired GPA: {{post.wantedGPA}}</p>
                <p> Desired Languages: {{post.languages}}</p>
                <p> Start Date: {{post.startDate}}</p>
                <p> End Date: {{post.endDate}}</p>

            </div>
            <div>
              <!-- the description of the research position -->  
              <p>Description: {{post.description}}</p>
           </div>
           <div class="posttimestamp">
           
            <!-- Time/Date that the research position was posted by the faculty member -->
                <div class="post">
                    <!-- TODO add when it was posted -->
                </div>
           </div> 
        </td> 

        <td width = "5%"> 
            <div>
                {% if current_user.user_type == "student" %}
                    <form action="{{ url_for('routes.apply_for_position', position_id=post.id) }}" method="post">
                        <button type="submit" class="btn btn-primary">Apply!</button>
                    </form>
                {% else %}
                    <form action="{{ url_for('routes.edit_profile', position_id=post.id) }}" method="post">
                        <button type="submit" class="btn btn-primary">Edit!</button>
                    </form>
                {% endif %}
            </div>  
        </td>
    </tr>
    
    <tr>
        <td colspan="3" style = "text-align:center" valign="bottom">  
            <br>
              <!-- include username/faculty member who posted the post [Research Position]-->
              Posted By: {{current_user.username}}
          </td>
        </tr>
    </tr>
</table>
