{% extends "base.html" %} {% block content %}
<div class="container">
    <h1>Meet the Team</h1>
    <p>
        We are a team of students from Worcester Polytechnic Institute working
        on a project for our Software Engineering course. We are passionate
        about software development and are very excited to share our project
        with you!
    </p>
    <br />
    <p><b>Team Members:</b></p>
    <p>Jonathan Buwembo</p>
    <p>Amber Drinkwater</p>
    <p>Dennis Field</p>
    <p>Connor Jason</p>
    <p>Myrrh Khan</p>
    <br />
</div>
{% endblock %}
