{% extends 'bootstrap/base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {%
block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
{% endblock %} {% block navbar %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"
                ><span style="color: #a9b0b7">Re</span
                ><span style="color: #ac2b37">Connect</span></a
            >
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <u1 class="nav navbar-nav">
                <li><a href="{{ url_for('routes.index')}}"> Home </a></li>

                <!-- Change to route for Applied Postions Page based on who's the user -->
                {% if current_user.user_type == 'Student' %}

                <li>
                    <a href="{{ url_for('routes.view_applied')}}">
                        View Applied Positions
                    </a>
                </li>

                {% elif current_user.user_type == 'Faculty' %}

                <li>
                    <a href="{{ url_for('routes.create_position')}}">
                        Create Position
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('routes.view_created')}}">
                        View Created Positions
                    </a>
                </li>
                {% endif %}

                <!-- If there is a valid user, then they have a profile they can view. -->
                {% if not current_user.is_anonymous %}
                <li>
                    <a href="{{ url_for('routes.view_profile')}}"> Profile </a>
                </li>
                {% endif %}

                <!-- Anyone can access about us page-->
                <li><a href="{{ url_for('routes.about_us')}}">About Us</a></li>
            </u1>

            <ul class="nav navbar navbar-right">
                <!-- Show the login page on top right of page if there is no user logged in yet.-->
                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('auth.login')}}"> Login </a></li>
                {% else %}

                <!-- else show the log out link on top right of page.-->
                <li>
                    <a href="{{ url_for('auth.logout')}}" class="link-custom">
                        Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- If there are are flashed messages, get the messages and display them on screen using the alert-info styles-->
<div>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-info">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
</div>
{% endblock %}
