{% extends "base.html" %} 

{% block content %}

<style>
    .post-box {
        border: 2px solid black;
        padding: 10px;
        margin: 10px;
        width: calc(33.33% - 20px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media screen and (min-width: 800px) and (max-width: 1200px) {
        .post-box {
            width: 46%;
        }
    }
    @media screen and (max-width: 800px) {
        .post-box {
            width: 95%;
        }
    }
    .postlist {
        display: flex;
        flex-wrap: wrap;
    }
    .btn-custom {
        background-color: #ac2b37;
        border: 1px solid #000000;
    }
    .btn-custom:hover {
        background-color: #961f2a;
    }
</style>

<h1>All Available Positions</h1>

<form method="POST" action="{{ url_for('routes.index') }}">
  {{ search_form.hidden_tag() }}
  <div class="form-group">
      {{ search_form.sortOrder.label }} {{ search_form.sortOrder }}
      <button type="submit" class="btn btn-primary btn-custom">Search</button>
  </div>
</form>
    
<!-- List out all the research positions available (or to his/her recommendations) on the student's end-->
<div class="postlist">
  {% for post in posts %}
      <div class="post-box">
          {% include '_research-position.html' %} 
      </div>
  {% endfor %}
</div>

{% endblock %}
