{% extends "base.html" %}

{% block content %}
<style>
.link-custom {
    color: #ac2b37;
}
.link-custom:hover {
    color: #751c25;
}
</style>

    <h1> Sign in</h1>

    {% if form %}

        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form, action = url_for('auth.login') ) }}
            </div>
        </div>

    {% endif %}
    <br>
    <p>New Student? <a href="{{ url_for('auth.register_student') }}" class="link-custom">Click to Register!</a></p>
    <p>New Faculty? <a href="{{ url_for('auth.register_faculty') }}" class="link-custom">Click to Register!</a></p>
    
{% endblock %}