{% extends "base.html" %} {% block content %}

<h1>Your Profile</h1>

<li><span class="label">Username:</span> {{ current_user.username }}</li>
<li><span class="label">First Name:</span> {{ current_user.firstname }}</li>
<li><span class="label">Last Name:</span> {{ current_user.lastname }}</li>
<li><span class="label">Email:</span> {{ current_user.email }}</li>
<li>
    <span class="label">Phone Number:</span> {{ current_user.phone_number[:3]
    }}-{{ current_user.phone_number[3:6] }}-{{ current_user.phone_number[6:] }}
</li>

<!-- Student specific fields -->
{% if current_user.user_type == 'Student' %}
<li><span class="label">Major:</span> {{ current_user.major }}</li>
<li><span class="label">GPA:</span> {{ current_user.GPA }}</li>
<li>
    <span class="label">Graduation Date:</span> {{
    current_user.graduationdate.strftime('%B %d, %Y') }}
</li>
<li>
    <span class="label">Topics of Interest:</span>
    <ul>
        {% for topic in current_user.topics_of_interest %}
        <li>{{ topic.title }}</li>
        {% endfor %}
    </ul>
</li>
<li>
    <span class="label">Proficient Languages:</span>
    <ul>
        {% for language in current_user.languages %}
        <li>{{ language.title }}</li>
        {% endfor %}
    </ul>
</li>

<!-- Faculty specific fields -->
{% elif current_user.user_type == 'Faculty' %}
<li><span class="label">Department:</span> {{ current_user.department }}</li>
<li>
    <span class="label">Research Areas:</span>
    <ul>
        {% for area in current_user.research_areas %}
        <li>{{ area.title }}</li>
        {% endfor %}
    </ul>
</li>
{% endif %}

<p>
    <a href="{{ url_for('routes.edit_profile') }}" class="link-custom"
        >Edit Profile</a
    >
</p>

{% if current_user.user_type == 'Faculty' %}
<h3>Your Research Positions</h3>
<div class="postlist">
    {% if posts %} {% for post in posts %}
    <div class="post-box">{% include '_research-position.html' %}</div>
    {% endfor %} {% else %}
    <div class="alert alert-info" role="alert">
        You haven't created any positions yet. Create now to start connecting!
        <a
            href="{{ url_for('routes.create_position') }}"
            class="btn btn-primary btn-custom"
            >Apply Now</a
        >
    </div>
    {% endif %}
</div>
{% elif current_user.user_type == 'Student' %}
<h3>Your Applications</h3>
<div class="postlist">
    {% if applications %} 
        {% for application in applications %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="text-align: center">Position Title</th>
                    <th style="text-align: center">Professor Name</th>
                    <th style="text-align: center">Applied Date</th>
                    <th style="text-align: center">Application Status</th>
                    <th style="text-align: center">Action</th>
                </tr>
            </thead>
            <!-- display all info about all the positions applied by the student -->
            <tbody>
                {% for application in applications %}
                <tr style="text-align: center">
                    <td>{{ application.enrolled_position.title }}</td>
                    <td>
                        <a
                            href="{{ url_for('routes.other_profile', user_id=application.enrolled_position.faculty) }}"
                            class="link-custom"
                        >
                            {{
                            get_faculty(application.enrolled_position.faculty).firstname
                            }} {{
                            get_faculty(application.enrolled_position.faculty).lastname
                            }}</a
                        >
                    </td>
                    <td>
                        {{ application.applied_date.strftime('%B %d, %Y %I:%M %p') }}
                    </td>
                    <td>{{ application.status }}</td>
                    <!-- show withdraw button if the application is pending -->
                    <td>
                        {% if application.status == 'Pending' %}
                        <form
                            action="{{ url_for('routes.unapply_for_position', position_id=application.position) }}"
                            method="post"
                        >
                            <button type="submit" class="btn btn-primary btn-custom">
                                Withdraw
                            </button>
                        </form>
                        {% else %} Good Luck! {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% else %}
            <div class="alert alert-info" role="alert">
                You haven't applied to any positions yet. Apply now to start connecting!
                <a
                    href="{{ url_for('routes.index') }}"
                    class="btn btn-primary btn-custom"
                    >Apply Now</a
                >
            </div>
        {% endfor %} 
    {% else %}
    <div class="alert alert-info" role="alert">
        You haven't applied to any positions yet. Apply now to start connecting!
        <a
            href="{{ url_for('routes.index') }}"
            class="btn btn-primary btn-custom"
            >Apply Now</a
        >
    </div>
    {% endif %} 
{% endif %} 
{% endblock %}
</div>
