{% extends "base.html" %}

{% block content %}
    <h1>Student Profile</h1>
    <ul>
        <li><span class="label">Username:</span> {{ student.username }}</li>
        <li><span class="label">First Name:</span> {{ student.firstname }}</li>
        <li><span class="label">Last Name:</span> {{ student.lastname }}</li>
        <li><span class="label">Email:</span> {{ student.email }}</li>
        <li><span class="label">Phone Number:</span> {{ student.phone_number[:3] }}-{{ student.phone_number[3:6] }}-{{ student.phone_number[6:] }}</li>
        <li><span class="label">Major:</span> {{ student.major }}</li>
        <li><span class="label">GPA:</span> {{ student.GPA }}</li>
        <li><span class="label">Graduation Date:</span> {{ student.graduationdate.strftime('%B %d, %Y') }}</li>
        <li><span class="label">Topics of Interest:</span>
            <ul>
                {% for topic in student.topics_of_interest %}
                    <li>{{ topic.title }}</li>
                {% endfor %}
            </ul>
        </li>
        <li><span class="label">Proficient Languages:</span>
            <ul>
                {% for language in student.languages %}
                    <li>{{ language.title }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
