{% extends "base.html" %}

{% block content %}

    <h1>{{ position.title }}</h1>
    <p>Wanted GPA: {{ position.wantedGPA }}</p>
    <p>Languages: {{ position.languages }}</p>
    <p>Description: {{ position.description }}</p>
    <p>Research Goals: {{ position.researchGoals }}</p>
    <p>Start Date: {{ position.startDate.strftime('%B %d, %Y') }}</p>
    <p>End Date: {{ position.endDate.strftime('%B %d, %Y') }}</p>    

    <div class="faculty-details">
        <h4>Posted By:</h4>
        <p>Name: {{ get_faculty(position.faculty).firstname }} {{ get_faculty(position.faculty).lastname }}</p>
        <p>Phone Number: {{ get_faculty(position.faculty).phone_number }}</p>
        <p>Email: {{ get_faculty(position.faculty).email }}</p>
        <p>Department: {{ get_faculty(position.faculty).department }}</p>
        <p>Research Areas:</p>
        <li>
            <ul>
                {% for area in get_faculty(position.faculty).research_areas %}
                    <li>{{ area.title }}</li>
                {% endfor %}
            </ul>
        </li>

    </div>

    {% if current_user.is_authenticated %}
        {% if current_user.user_type == 'Student' %}
            {% if current_user.has_applied_to_position(position.id) %}
                <form action="{{ url_for('routes.unapply_for_position', position_id=position.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Unapply</button>
                </form>
            {% else %}
                <form action="{{ url_for('routes.apply_for_position', position_id=position.id) }}" method="post">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    
{% endblock %}
