{% extends "base.html" %}

{% block content %}

    <h1>{{ position.title }}</h1>
    <p>Wanted GPA: {{ position.wantedGPA }}</p>
    <p>Languages: {{ position.languages }}</p>
    <p>Description: {{ position.description }}</p>
    <p>Research Goals: {{ position.researchGoals }}</p>
    <p>Start Date: {{ position.startDate }}</p>
    <p>End Date: {{ position.endDate }}</p>
    <p>Posted By: {{ get_faculty(position.faculty).firstname }} {{ get_faculty(position.faculty).lastname }}</p>

    {% if current_user.is_authenticated %}
        {% if current_user.user_type == 'Student' %}
            {% if current_user.has_applied_to_position(position.id) %}
                <form action="{{ url_for('routes.unapply_for_position', position_id=position.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Unapply</button>
                </form>
            {% else %}
                <form action="{{ url_for('routes.apply_for_position', position_id=position.id) }}" method="post">
                    <button type="submit" class="btn btn-primary">Apply</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    
{% endblock %}
