{% extends "base.html" %}

{% block content %}

<style>
    .btn-custom {
        background-color: #ac2b37;
        border: 1px solid #000000;
    }
    .btn-custom:hover {
        background-color: #961f2a;
    }
</style>

    <h1>Your Research Positions</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Wanted GPA</th>
                <th>Languages</th>
                <th>Description</th>
                <th>Research Goals</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Review Applications</th>
            </tr>
        </thead>
        <tbody>
            <!-- display all info about all the positions created by you -->
            {% for position in positions %}
            <tr>
                <td>{{ position.title }}</td>
                <td>{{ position.wantedGPA }}</td>
                <td>{{ position.languages }}</td>
                <td>{{ position.description }}</td>
                <td>{{ position.researchGoals }}</td>
                <td>{{ position.startDate.strftime('%B %d, %Y') }}</td>
                <td>{{ position.endDate.strftime('%B %d, %Y') }}</td>
                
                <!-- button to review applications for the position -->
                <td>
                    <a href="{{ url_for('routes.review_applications', position_id=position.id) }}" class="btn btn-primary btn-custom">Review</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
{% endblock %}
