{% extends "base.html" %}

{% block content %}

    <h1>Applied Positions</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Position Title</th>
                <th>Professor Name</th>
                <th>Applied Date</th>
                <th>Application Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- display all info about all the positions applied by the student -->
        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.enrolled_position.title }}</td>
                    <td>{{ get_faculty(application.enrolled_position.faculty).firstname }} {{ get_faculty(application.enrolled_position.faculty).lastname }}</td>
                    <td>{{ application.applied_date.strftime('%B %d, %Y %I:%M %p') }}</td>
                    <td>{{ application.status }}</td>
                    <!-- show withdraw button if the application is pending -->
                    <td>
                        {% if application.status == 'Pending' %}
                            <form action="{{ url_for('routes.unapply_for_position', position_id=application.position) }}" method="post">
                                <button type="submit" class="btn btn-danger">Withdraw</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    
{% endblock %}